@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">About</h1>
    <p>This is a web application designed to help users with lumber-related tasks.
        It includes a unit converter for various measurements (inches, feet, meters, centimeters) and a board-cut
        optimizer. The optimizer aims to take a list of available lumber and a list of desired cuts, and then calculate the most
        efficient way to make those cuts to minimize waste.
    </p>
</div>
